/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Questrial|Kaushan+Script&display=swap');

/* Simple Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    font-family: 'Hind Madurai', sans-serif;
    z-index: 10;
}

html, body {
    height: 100%;
    width: 100%;
}

/* Utils */
.abs-center {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Navigation Bar */
#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 75px;

    z-index: 999;
}

#navbar .logo {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    text-decoration: none;
    color:#e91d28;
}

.nav-links {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 125px;
}

.nav-link {
    position: relative;
    display: inline-block;
    height: 100%;
    font-size: 22px;
    line-height: 75px;
    padding: 0 20px;
    margin: 0 20px;
    opacity: 0.8;
    font-weight: 100;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.nav-link:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(5, 5, 5);
}

/* header */
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.background-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header-text {
    top: 45%;
}

.header-text h1 {
    font-size: 72px;
    text-align: center;
    text-shadow: 0px 0px 2px #000;
}

.header-text h2 {
    font-size: 20px;
    text-align: center;
    width: 550px;
    margin: 5px auto;
    opacity: 0.9;
    color: #fff;
    text-shadow: -1px -1px 1px #000;
    font-weight: 100;
}

.header-btn {
    position: relative;
    top: 55%;
    display: inline-block;
    padding: 20px 30px;
    margin-top: 80px;
    font-size: 22px;
    text-shadow: -1px -1px 1px #000;
    border: 3px solid #e91d28;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.header-btn span {
    display: inline-block;
    float: right;
    color: #e91d28;
    text-shadow: -1px -1px 1px #000;
    margin-left: 10px;
    transition: color 0.2s;
}

.header-btn:hover span {
    color: #fff;
}

.header-btn:active span {
    color: #e91d28;
}

.header-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #e91d28;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.header-btn:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #e91d28;
    z-index: -1;
    width: 100%;
}

.header-btn:active {
    padding: 25px 35px;
} 

.header-btn:active:before {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 0%;
}

/* Pick the right scene 4 u */
#scene-container {
    position: relative;
    height: 85vh;
    overflow: hidden;
    background-color: #212121;
}

#scene-container > h1 {
    position: absolute;
    width: 100%;
    top: 35%;
    text-shadow: 1px 1px 1px #000;
    font-size: 62px;
    text-align: center;
    z-index: 20;
}

.scene {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.scene h2 {
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-family: 'Questrial', sans-serif;
}

#scene-right h2 {
    right: 20px;
    left: 0;
    text-align: right;
}

.scene img {
    position: absolute;
    display: block;
    top: 50%;
    transform: translate(0%, -50%);

    height: 125%;
    transition: all 0.5s ease-in-out;
}

#scene-left img {
    left: -10%;
}

#scene-right img {
    right: 0;
}

#scene-left {
    background-color: #b3b3b3;
}

#scene-right {
    background-color: #535353;
}

.scene-60 {
    width: 60% !important;
}

.scene-40 {
    width: 40%;
}

.scene_zoom-out {
    height: 115% !important;
}

/* parallax */
.parallax {
    position: relative;
    height: 80vh;
    background: url("assets/images/clothing1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.parallax h1 {
    font-size: 62px;
    text-transform: uppercase;
    text-shadow: -2px 2px 5px #000;
    font-family: 'Questrial', sans-serif;
}

/* Gallery */
#gallery {
    position: relative;
    /* display: grid; */
    column-count: 2;
    column-gap: 0;
    /* height: 100vh; */
    background-color: #121212;
    z-index: 11;
}

.gallery_panel {
    break-inside: avoid;
}

.gallery_panel-content {
    display: inline-block;
    /* height: 100%;
    width: 100%; */
    /* height: 50vh;
    width: 50vw; */
}

.gallery_h-half {
    height: 50vh;
}

.gallery_h-full {
    height: 100vh;
}

.gallery_w-half {
    width: 50vw;
}

.gallery_w-full {
    width: 100vw;
}

.gallery_wh-half {
    height: 50vh;
    width: 50vw;
}

.gallery_wh-full {
    height: 100vh;
    width: 100vw;
}